

<body>





<h1>books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
      </tr>
      <td></td>
      <td></td>
      <td></td>


     <% @books.each do |book| %>
     <p><%= book.title %></p>
      <% end %>

  </thead>






   <% @books.each do |book| %>
   <p><%= book.body %></p>
   <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>


</table>
<h2 class="sub-zone">New book</h2>



<%= form_with model: @book do |f| %>
<h4 class="sub-zone">Title</h4>
<%= f.text_field :title %>

<h4 class="sub-zone">Body</h4>
<%= f.text_area :body %>

<%= f.submit 'create book' %>
<% end %>
</body>

