
<%= flash[:notice] %>


<div class="show1">
<div class="show_title"><strong>Title:</strong>  <%= @book.title %></div>
<div class="show_body"><strong>Body:</strong>  <%= @book.body %></div>
</div>




<div class="link_book">
<%= link_to "Edit", edit_book_path %>
|
<%= link_to "Back", index_book_path %>

</div>
