
<%= flash[:notice] %>



<h4>title</h4>
<p><%= @book.title %></p>
<h4>body</h4>
<p><%= @book.body %></p>

<p>
<%= link_to "Back", index_book_path %>
</p>
<p>
<%= link_to "Edit", edit_book_path %>
</p>
